<div class="create-dish-container t-center">
  <h1 class="t-center mg-b_t-30">Create Dish</h1>
  <div class="create-dish-row">
    <label>Dish Name</label>
    <input #dishName />
    <label>Dish image URL</label>
    <input #dishImage />
    <label>Description</label>
    <input #dishDescription />
    <label>Price</label>
    <input #dishPrice />
    <label>Select Restaurant</label>
    <select #dishRestId >
      <option *ngFor="let item of restaurants" [value]="item._id">{{item.name}}</option>
    </select>
    <div class="flex checkbox-warp">
      <label class="spicy">Spicy</label>
      <input #spicyCheckbox type="checkbox" />
      <label class="vegan">Vegan</label>
      <input #veganCheckbox type="checkbox" />
      <label class="vegeterian">Vegeterian</label>
      <input #vegeterianCheckbox type="checkbox" />
    </div>
    <button
    class="btn-primary"
      (click)="
        createDish({
          name: dishName.value,
          image: dishImage.value,
          description: dishDescription.value,
          price: dishPrice.value,
          restaurant: dishRestId.value,
          typeIcon: {
            spicy: spicyCheckbox.checked,
            vegan: veganCheckbox.checked,
            vegeterian: vegeterianCheckbox.checked
          }
        })
      "
    >
      CREATE
    </button>
  </div>
</div>
