@import '../../../assets/styles/extends';
@import '../../../assets/styles/colors';
@import '../../../assets/styles/fonts';
@import '../../../assets/styles/mixing';
@import '../../../assets/styles/functions';

.chef-rest-container {
  display: none;
  height: 125px;
  width: 100%;
  background-color: #F7F7F7;
  box-sizing: border-box;

  & .chef-rest-row {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 75px;
    justify-content: space-between;

    & .btn-chefs,
    .btn-rests {
      background-color: #EBCE92;
      border: none;
      height: 43px;
      padding: 0 14px;
      font-size: 13px;
      letter-spacing: 0.93px;
    }
  }
}

@include for-mobile-layout {

  .chef-rest-container {
    display: block;
  }

}
