@import '../../../assets/styles/extends';
@import '../../../assets/styles/colors';
@import '../../../assets/styles/fonts';
@import '../../../assets/styles/mixing';

.about-container {
  background-color: $bgcGrey;
  margin: 117px 0 38px 0;

  .about-warp {
    padding: 30px 0;
    align-items: center;
    height: 526px;
    box-sizing: border-box;

    .about-row-logo {
      margin: 0 0 0 182px;

      img {
        width: 178px;
      }
    }

    .about-row-txt {
      h1 {
        font-size: $fontsize30;
        font-weight: unset;
      }

      p {
        margin: 20px 0;
        font-size: $fontsize22;
        width: 567px;

      }
    }

    .stores {
      @extend %stores;

      img {
        width: 23px;
      }
    }
  }
}

@include for-mobile-layout {
  .about-container {
    margin: 97px 0 38px 0;
    padding: 0 36px;
    height: 605px;
    box-sizing: border-box;
    .banner-title,
    p {
      font-size: rem(14px) !important;
      text-align: center;
    }
  }

  .about-container .about-warp .about-row-txt p {
    width: fit-content;
  }

  .about-row-logo {
    margin: auto !important;
  }

  .wtdh70ma {
    width: 100%;
  }

  .flex-no-warp {
    justify-content: space-evenly;
    width: 100%;
  }

  .stores {
    width: 127px !important;
    height: 37px !important;
    margin: 34px 0 0 0 !important;

    img {
      width: 17px !important;
    }

    h4 {
      font-size: 9px !important;
    }

    h3 {
      font-size: 12px !important;
    }
  }
}
