<div class="about-container">
  <footer class="about-warp wtdh70ma flex" role="contentinfo">
    <div class="about-row-txt">
      <h1 class="banner-title about-title">ABOUT US :</h1>
      <p class="about-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a lacus vel
        justo fermentum bibendum non eu ipsum. Cras porta malesuada eros, eget
        blandit turpis suscipit at. Vestibulum sed massa in magna sodales porta.
        Vivamus elit urna, dignissim a vestibulum.
      </p>
      <p class="about-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a lacus vel
        justo fermentum bibendum no eu ipsum. Cras porta malesuada eros.
      </p>
    </div>
    <div class="about-row-logo">
      <img
        alt="epicue-logo"
        class="epicue-logo"
        src="{{ this.iconsService.aboutUsIcon }}"
      />
    </div>
    <div class="flex-no-warp">
      <div class="stores flex" *ngFor="let item of storeArr">
        <img alt="{{ item.alt }}" src="{{ item.logo }}" class="store-logo" />
        <div>
          <h4 class="store-text-h4">{{ item.txt }}</h4>
          <a routerLink="homepage" class="aTxtDec">
            <h3 class="store-text-h3">{{ item.at }}</h3></a
          >
        </div>
      </div>
    </div>
  </footer>
</div>
