@import '../../../assets/styles/extends';
@import '../../../assets/styles/colors';
@import '../../../assets/styles/fonts';
@import '../../../assets/styles/mixing';
@import '../../../assets/styles/functions';

.all-rest-container {
    & .pop-row {
        @extend %pop-row;
      }
 & .main-swiper {
    width: 100%;
  }
}
