<header>
  <nav class="flex-center">
    <div class="nav-items-left flex-center">
      <div class="logo-warp flex-center">
        <img src={{this.iconsService.cutleryLogo}} />
        <a class="nav-item">EPICURE</a>
      </div>
      <a href="#" class="nav-item">Restaurants</a>
      <a href="#"  class="nav-item">Chefs</a>
    </div>
    <div class="nav-items-right flex-center">
      <div class="nav-item">
        <div class="search-warp">
          <app-search-bar></app-search-bar>
          <img src={{this.iconsService.serachIconLogo}} />
        </div>
      </div>
      <img class="nav-item" src={{this.iconsService.profileLogo}} />
      <img class="nav-item" src={{this.iconsService.bagIcon}} />
    </div>
  </nav>
</header>
