@import '../../../assets/styles/extends';
@import '../../../assets/styles/mixing';

nav {
  box-sizing: border-box;
  padding: 0 10% 0 10%;
  height: 62px;
  justify-content: space-between;
  width: 100%;

  .nav-items-left {
    width: 40%;

    .nav-item {
      margin: 0 28px 0 0;
    }

    a {
      font-size: 18px;
      text-decoration: none;
      color: black;
    }

    div {
      margin: 0 3px 0 0;
    }

    .logo-warp {
      .hamburger-icon {
        display: none;
        width: 18px;
      }

      a {
        font-size: 27px;
        margin-left: 15px;
      }

      .cutlery-icon {
        width: 33px;
      }
    }
  }

  .nav-items-right {
    width: 40%;

    .nav-item {
      margin: 0 0 0 5%;

      .search-warp {
        height: 34px;
        @extend %searchWarp;
        min-width: 415px;

        app-search-bar {
          width: 100%;
        }
      }
    }

    img {
      width: 22px;
    }
  }
}


@include for-mobile-layout {
  nav {
    padding: 0 20px;
    height: 45px;


    .nav-items-left {
      display: block;

      .logo-warp {
        display: flex;

        .hamburger-icon {
          display: inline;
        }

        .cutlery-icon {
          width: 31px;
          position: absolute;
          right: 0;
          left: 0;
          margin: auto;
        }
      }
    }

    .nav-items-left a {
      display: none;
    }

    .nav-items-right {
      justify-content: end;

      .nav-item {
        width: 18px;
        margin-left: 26px;

        .search-warp {
          border: none;
          min-width: 0;
          padding: 0;

          app-search-bar {
            display: none;
          }
        }
      }


    }

  }
}
