@import '../../../assets/styles/fonts';
@import '../../../assets/styles/mixing';
@import '../../../assets/styles/functions';

input {
  font-family: 'Quicksand';
  border: none;
  outline: 0;
  width: 100%;
  background-color: transparent;
  font-size: 18px;
  letter-spacing: 1.29px;
}

.inputFont {
  font-size: $fontsize22;
  letter-spacing: 0.6px;
}

@include for-mobile-layout {

  input {
    font-size: rem(13px) !important;
    letter-spacing: 0.07px !important;

  }
}
