@import '../../../assets/styles/extends';
@import '../../../assets/styles/functions';
@import '../../../assets/styles/colors';
@import '../../../assets/styles/mixing';

.chef-container {
  //    margin-top: 71px;
  margin-top: 100px;

  .chef-week-warp {
    height: 469px;
  }

  .banner-title {
    margin: 0 0 42px 0;
    font-weight: unset;
    text-align: start;
  }

  .chef-row {
    width: 100%;
    justify-content: space-between;

    img {
      width: 443px;
    }

    .chef-col {
      width: 43%;
      height: 338px;
      max-width: 443px;
      margin: 0 69px 0 0;
    }

    h1 {
      background-color: #ffffffb3;
      position: relative;
      bottom: 100px;
      text-align: center;
      width: 100%;
      padding: 24px 0;
      font-size: $fontsize40;
    }

    p {
      font-size: rem(25px);
    }
  }

  .chef-rest-warp {
    margin-top: 58px;

    h1 {
      margin: 0px 0 23px 0;
      font-size: $fontsize30;
      font-weight: unset;
    }

    .chef-rests {
      width: 67%;

      article {
        margin: 0 20px 0 0;
        height: 357px;

        img {
          height: 224px;
        }
      }

      .card-bottom {
        box-sizing: border-box;
        height: 133px;
        background-color: $bgcBeige;
        padding: 20px 2% 20px 2%;
        @extend %marginTop-3;
      }
    }
  }
}

article {
  width: fit-content;
}

.swiper-slide {

  width: 233px !important;
}

.main-swiper {
  width: 100%;

}

@include for-mobile-layout {
  .chef-container {
    margin-top: 71px;

    .chef-week-warp {
      height: unset;
    }

    article {
      margin: 0 !important;
      width: 153px;
      height: 237px !important;

      img {
        width: 100%;
        height: unset !important;
      }
    }

    .chef-rest-warp {
      margin-top: 22px;

      .chef-rests {
        width: 100%;
        padding: 0 0px 0 20px;
        box-sizing: border-box;

        .swiper-slide {
          overflow: hidden;
          width: unset !important;
          margin-right: 13px !important;
        }
      }

      .banner-title {
        text-align: unset;
        font-size: rem(14px);
        margin: 0px 0px 19px 20px !important;
      }
    }

    .banner-title {
      font-size: rem(14px);
      margin: 0 0 13px 0;
    }
  }

  .wtdh70ma {
    width: 100%;
  }

  .card-bottom {
    .font30 {
      margin: 0px !important;
      font-size: 20px !important;
    }
  }

  .chef-row img {
    width: 100% !important;
  }

  .chef-row .chef-col {
    margin: auto !important;
    width: 90% !important;
    max-width: 334px !important;
    height: unset !important;
    max-height: 300px !important;
    margin-bottom: 21px !important;

    h1 {
      font-size: rem(30px);
      height: 30px;
      bottom: 82px;
    }

    p {
      font-size: 13.5px;
      text-align: center;
    }
  }
}
