@import '../../../assets/styles/extends';
@import '../../../assets/styles/colors';
@import '../../../assets/styles/fonts';
@import '../../../assets/styles/mixing';
@import '../../../assets/styles/functions';

.wtdh70ma {
  width: 50%;
}

.chef-container {
  margin-top: 100px;

  & .chef-week-warp {
    height: 469px;

    & .banner-title {
      margin: 0 0 42px 0;
      font-weight: unset;
    }

    & .chef-row {
      width: 100%;

      .m-right {
        margin: 0 6% 0 0;

      }

      & .chef-col {
        width: 46%;
        height: 338px;
        // max-width: 443px;

        & .chef-img {
          width: 100%;
          aspect-ratio: 433/338;
          object-fit: cover;
          max-height: 338px;
        }

        & .chef-name {
          background-color: #ffffffb3;
          position: relative;
          bottom: 100px;
          text-align: center;
          width: 100%;
          padding: 24px 0;
          font-size: $fontsize40;
        }
      }


      & .chef-desc {
        font-size: rem(25px);
      }
    }
  }

  & .chef-rest-warp {
    margin-top: 58px;

    & .chef-rest-title {
      margin: 0px 0 23px 0;
      font-size: $fontsize30;
      font-weight: unset;
      text-align: left;
    }

    & .chef-rests {
      width: 77%;

      & article {
        margin: 0 20px 0 0;
        height: 357px;
        width: fit-content;

        & .chef-rest-img {
          height: 224px;
        }
      }

      & .card-bottom {
        box-sizing: border-box;
        height: 133px;
        background-color: $bgcBeige;
        padding: 20px 10%;
        @extend %marginTop-3;
      }
    }
  }

  .chef-img:hover {
    cursor: pointer;
  }
}

.main-swiper {
  width: 100%;

  .swiper-slide {
    width: 233px !important;
    position: relative;
  }
}

@include screen-1440-layout {

  .chef-container .chef-rest-warp .chef-rests {
    width: 74%;
  }

  .wtdh70ma {
    width: 70%;
  }
}

@include screen-1000-layout {
  .chef-container {
    & .chef-week-warp .chef-row .chef-col {
      & .chef-img {
        min-height: 275px;
      }

      & .chef-name {
        font-size: rem(23px);
        bottom: 81px;

      }

      & .chef-desc {
        font-size: rem(18px);
      }
    }
  }
}

@include for-mobile-layout {
  .chef-container {
    margin-top: 71px;

    & .chef-week-warp {
      height: unset;

      & .chef-row .chef-col {
        margin: auto;
        width: 90%;
        max-width: 334px;
        height: unset;
        max-height: 240px;
        margin-bottom: 21px;

        & .chef-name {
          font-size: rem(30px);
          height: 30px;
          bottom: 82px;
        }

        & .chef-desc {
          font-size: 13.5px;
          text-align: center;
        }

        & .chef-img {
          width: 100%;
          object-fit: cover;
          aspect-ratio: 334/240;
          min-height: 240px;
        }
      }
    }


    & .chef-rest-warp {
      margin-top: 22px;

      & .chef-rests article {
        margin: 0;
        width: 153px;
        height: 237px;

        & .chef-rest-img {
          width: 100%;
          height: unset;
        }
      }

      & .chef-rests {
        width: 100%;
        padding: 0 0px 0 20px;
        box-sizing: border-box;

        & .swiper-slide {
          width: 153px  !important;
          margin-right: 13px !important;
          left: 22px;

          & article .card-bottom {
            .chef-rest-name-title {
              margin: 0px;
              font-size: 20px;
            }
          }
        }
      }

      & .banner-title {
        text-align: unset;
        font-size: rem(14px);
        margin: 0px 0px 19px 20px;
      }
    }

    & .banner-title {
      font-size: rem(14px);
      margin: 0 0 13px 0;
      text-align: center;
    }
  }

  .wtdh70ma {
    width: 100%;
  }
}
