<div class="chef-container wtdh70ma">
  <section class="chef-week-warp">
    <h1 class="banner-title">CHEF OF THE WEEK :</h1>
    <div *ngFor="let item of chefArr" class="chef-row flex">
      <div class="chef-col m-right">
        <div>
          <img alt='chef-image' class="chef-img" [@rotatedState]='state' src={{item.chef.image}} (click)="rotate()"/>
        </div>
        <h1 class="chef-name">{{item.chef.firstName}} {{item.chef.lastName}}</h1>
      </div>
      <div class="chef-col">
        <p class="chef-desc">{{item.chef.description}}</p>
      </div>
    </div>
  </section>
  <section class="chef-rest-warp">
    <h1 class="banner-title chef-rest-title">Yossi’s restaurants :</h1>
    <div class="flex chef-rests">
      <swiper [config]="this.swiperService.config2" class="main-swiper" > 
        <div class="swiper-slide" *ngFor="let elem of dishes">
          <article>
              <img alt="{{elem.name}} restaurant image" class="chef-rest-img" src={{elem.image}} />
              <div class="card-bottom">
                <h1 class="t-center font30 chef-rest-name-title">{{elem.name}}</h1>
              </div>
          </article>
        </div>
      </swiper>
    </div>
  </section>
</div>
