<div class="login-container">
  <form class="login-row">
    <h1 id="login-form">LOGIN</h1>
    <label for="username" class="visuallyhidden">Username: </label>
    <input
      name="username"
      id="username"
      type="text"
      placeholder="username"
      #userName
      aria-label="username is required here"
      aria-labelledby="login-form"
    />
    <label for="password" class="visuallyhidden">Password: </label>
    <input
      name="password"
      id="password"
      type="password"
      placeholder="password"
      #password
      aria-label="password is required here"
      aria-labelledby="login-form"
    />
    <button
      type="submit"
      class="btn-primary"
      (click)="
        login(
          {
            userName: userName.value,
            password: password.value
          },
          $event
        )
      "
    >
      LOGIN
    </button>
  </form>
</div>
