@import '../../../assets/styles/colors';
@import '../../../assets/styles/fonts';
@import '../../../assets/styles/mixing';

.icons-container {
  background-color: $bgcGrey;
  height: 265px;
  box-sizing: border-box;
  padding: 41px 0;

  h1 {
    font-weight: unset;
    font-size: $fontsize30;
  }

  .icons-row {
    justify-content: center;
    align-items: baseline;
    align-content: center;

    .flex-Col {
      margin: 0 50px;

      img {
        margin: 23px 0px;
      }
    }
  }
}

@include for-mobile-layout {

  .icons-container {
    height: 134px;
    padding: 16px 0 0 0;
    box-sizing: unset;

    h1 {
      font-size: rem(14px);
    }

    img {
      width: 44px;
      margin: 22px 0 16px 0 !important;
    }

    h2 {
      font-size: rem(13px);
    }
    .flex {
        // display: flex;
        flex-wrap: nowrap; 
        justify-content: space-evenly;
    }
  }
}
