@import '../../../assets/styles/extends';
@import '../../../assets/styles/fonts';


.inputFont {
  font-size: 22px !important;
}

.top-page {
  width: 100%;
  height: 669px;
  background-image: url("../../../assets/img/hero-picture.png");
  background-size: cover;
  justify-content: center;
  margin: 0 0 140px 0;

  .search-banner {
    @extend %searchBanner;

    h1 {
      margin: 0 0 18px 0;
      font-size: $fontsize35;
      font-weight: unset;
    }

    div {
      font-size: $fontsize35;
    }

    .search-warp {
      @extend %searchWarp2;
      width: 511px;
      height: 48px;



      img {
        width: 31px;
        margin: 0 20px 0 0;
      }

      app-search-bar {
        width: 100%;
        display: flex;
        position: relative;
      }
    }
  }
}
@import '../../../assets/styles/mixing';
@include for-mobile-layout {
  .top-page {
    height: 269px;
    margin: 0;
    h1 {
      font-size: rem(16px) !important;
      letter-spacing: 1px;
    }

    .search-banner {
      width: 100%;
      max-width: 335px;
      height: 125px;
    }
  }

  .search-warp {
    padding: 0px 9px !important;
    height: 33px !important;
    width: 269px !important;
    border: solid 1px #c2c2c2 !important;


    img {
      width: 16px !important;
      margin: 0 5px 0 0 !important;
    }
  }
}
