@import '../popular-rest.component.scss';
@import '../../../../assets/styles/extends';
@import '../../../../assets/styles/fonts';
@import '../../../../assets/styles/mixing';
@import '../../../../assets/styles//colors';

.banner-top {
  @extend %pop-row;
  @extend %allRest;

  .main-swiper {
    width: 100%;
  }

}

@include for-mobile-layout {
  .banner-top {
    margin: 51px 0 0 0;

    .img-warp {
      height: 224px;
      width: 206px;
      overflow: hidden;

      img {
        width: 354px;
        margin: 0px 0 0px -60px;
      }
    }
    .main-swiper {
      display: block ;
      .swiper-slide{
        margin-right:0 !important;
    }
    }
    .pop-row article .card-bottom {
        box-sizing: border-box;
        width: 206px;
        background-color: $bgcBeigeMobile ;
    
        p {
          font-size: rem(20px) ;
        }
    
        h1 {
          font-size: rem(25px) ;
        }
      }
  }


  .banner-title {
    font-size: 14px;
    margin: 0 0 13px 0;
  }

  .allrestaurants {
    display: none;
  }

  .dishes {
    img {
      width: 206px;
    }

    
  }
}
