<section class="banner-top">
  <h1 class="banner-title">THE POPULAR RESTAURANTS IN EPICURE :</h1>
  <div class="pop-row flex">
    <swiper [config]="this.swiperService.config" class="main-swiper">
      <div *ngFor="let item of rests" class="swiper-slide">
        <app-rest-chef-card [item]="item"></app-rest-chef-card>
      </div>
    </swiper>
  </div>
  <a class="aTxtDec allrestaurants" routerLink="restaurants"
    >All Restaurants<img src="{{ this.iconsService.arrowIcon }}"
  /></a>
</section>
