@import '../../../assets/styles/extends';
@import '../../../assets/styles/fonts';
@import '../../../assets/styles/mixing';
@import '../../../assets/styles//colors';

article {
  max-width: 360px;
  position: relative;

  & .img-warp {

    & .dish-img {
      width: 100%;
      aspect-ratio: 360/224;
      object-fit: cover;
    }
  }

  & .card-bottom {
    background-color: $bgcBeige;
    text-align: center;
    padding: 28px 35px 20px 35px;
    margin-top: -3px;

    & .rest-name-title {
      font-family: Quicksand-SemiBold;
      font-size: 40px;
      margin: 0 0 15px 0;
    }
  }
}

@include screen-1000-layout {

  article {
    & .card-bottom {
      & .rest-name-title {
        font-size: rem(30px);//    font-size: 18px;

      }
    }
  }
}

@include for-mobile-layout {

  article .img-warp {
    height: 224px;
    width: 206px;
    overflow: hidden;

    & .dish-img {
      width: 354px;
      margin: 0px 0 0px -60px;
    }
  }

  .main-swiper {
    display: block;

    & .swiper-slide {
      width: 206px !important;
      margin-right: 14px !important;
      position: relative;
      right: 40px;
    }
  }

  article .card-bottom {
    box-sizing: border-box;
    width: 206px;
    background-color: $bgcBeigeMobile;

    & .chef-name {
      font-size: rem(16px);
    }

    & .rest-name-title {
      font-size: rem(18px);
    }
  }
}
