@import'./functions';

@font-face {
  font-family: Quicksand;
  src: url("../Fonts/Quicksand/static/Quicksand-Light.ttf");
}


@font-face {
  font-family: Quicksand-SemiBold;
  src: url("../Fonts/Quicksand/static/Quicksand-SemiBold.ttf");
}

$fontsize22:rem(22px);

$fontsize30:rem(30px);

$fontsize40:rem(40px);

$fontsize35:rem(35px);
