@import '../../../../assets/styles/fonts';
@import '../../../../assets/styles/extends';
@import '../../../../assets/styles/functions';
@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/mixing';

.banner-bottom {
  margin: 153px 0 87px 0;
  @extend %pop-row;

  & .main-swiper {
    width: 100%;
  }
}

@include for-mobile-layout {
  .banner-bottom {
    margin: 100px 0 87px 0;

    & .banner-title {
      font-size: 14px;
      margin: 0 0 13px 0;
    }
  }

  .main-swiper {
    display: block !important;

   & .swiper-slide {
      margin-right: 14px !important;
      position: relative;
      right: 90px;
      width: 260px !important;
    }
  }

}
